# Honest - 复制为 .env.local

# WalletConnect
NEXT_PUBLIC_WC_PROJECT_ID=06b095e5fd6abf13e9375e1bf7f208c1

# RPC
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://rpc.ankr.com/eth_sepolia/YOUR_KEY

# 合约地址 (部署后填写)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xaB0971a1e1e3A37A86E6A080e699A95FF12e3B82
